*{
/*    outline: 1px solid red;
*/}
body { 
    background-color: black; 
    background-image: url(https://thumbs.dreamstime.com/z/perspective-wood-table-yellow-flower-over-nature-background-empty-space-beautiful-abstract-bokeh-70503439.jpg);
    padding: 0px;
    margin: 0;
}
ul{
    background-color: red;
}
li{
    display: inline-block;
    padding: 20px;
    list-style: none;
}
a{
    color: whitesmoke;
    text-decoration: none;
    padding: 10px;
}
a:hover{
    color: greenyellow;
}
span{
    color: red;
    margin: 0 100px;
}
.animal{
width: 250px;
    height: 250px;
    margin: 10px;
}
.box1{
    display: inline;
    color: black;
    background-color: red;
    padding: 20px;
    margin: 0px;
    width: 200px;
    text-transform: capitalize;
    font-weight: bolder;
    left: 10px;
    
}
.box2{
    width: 200px;
    display: inline;
    color: black;
    background-color: red;
    padding: 20px;
    margin: 0px;
    text-transform: lowercase;
    font-weight: bolder;
}
.box3{
    width: 200px;
    display: inline;
    color: black;
    background-color: red;
    padding: 20px;
    margin: 0px;
    text-transform: uppercase;
    font-weight: bolder;
}
.tex1, .tex2{
    color: whitesmoke;
    font-size: 20px;
}
.addClass("animated Fade Out");